:root {
  --accent-color: #eee7df;
  --bg-color: #786b7c;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}
.wrapper {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#button {
  visibility: hidden;
  position: absolute;
}
.label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: var(--accent-color);
  font-family: monospace;
  font-size: 1.7rem;
  position: absolute;
  border: 2px solid var(--accent-color);
  width: 250px;
  height: 75px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.label:hover {
  font-size: 2rem;
}
.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 0;
  height: 0;
  background: var(--accent-color);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
}
.title {
  position: absolute;
  top: 4rem;
  font-family: monospace;
  line-height: 2.5rem;
  font-size: 1rem;
  width: 350px;
  color: var(--bg-color);
  opacity: 0;
  pointer-events: none;
}
.close {
  width: 40px;
  height: 40px;
  background: var(--bg-color);
  -webkit-border-radius: 3rem;
  border-radius: 3rem;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  opacity: 0;
}
.close:before,
.close:after {
  position: absolute;
  left: 19.1px;
  bottom: 10%;
  content: "";
  width: 3px;
  height: 80%;
  background: var(--accent-color);
}
.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#button:checked ~ .label {
  background: var(--accent-color);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  font-size: 3rem;
  opacity: 0;
}
#button:checked ~ .modal {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.7s width ease 0.5s, 0.7s height ease 0.5s,
    0.7s -webkit-border-radius ease 0.7s;
  transition: 0.7s width ease 0.5s, 0.7s height ease 0.5s,
    0.7s -webkit-border-radius ease 0.7s;
  -o-transition: 0.7s width ease 0.5s, 0.7s height ease 0.5s,
    0.7s border-radius ease 0.7s;
  transition: 0.7s width ease 0.5s, 0.7s height ease 0.5s,
    0.7s border-radius ease 0.7s;
  transition: 0.7s width ease 0.5s, 0.7s height ease 0.5s,
    0.7s border-radius ease 0.7s, 0.7s -webkit-border-radius ease 0.7s;
}
#button:checked ~ .modal .close {
  opacity: 1;
  -webkit-transition: 0.5s all ease 1.5s;
  -o-transition: 0.5s all ease 1.5s;
  transition: 0.5s all ease 1.5s;
}
#button:checked ~ .modal .title {
  font-size: 2rem;
  opacity: 1;
  -webkit-transition: 0s all ease 1s;
  -o-transition: 0s all ease 1s;
  transition: 0s all ease 1s;
}
